.form {
    margin: 1rem 0;
    height: 19rem;
    overflow: scroll;
    padding-top: 80px;
   
  }
  .title {
    font-size: 24px;
    margin-top: -5rem;
   
  }
  
  .control {
    margin-bottom: 0.5rem;

   
  }
  
  .control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
    margin-left: 10px;
  }
  
  .control input {
    font: inherit;
    border: 1px solid #232523;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .actions button {
    font: inherit;
    color: #074509;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem; 
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #d0f0b5;
  }
  
  .actions .submit {
    border: 1px solid #074509;
    background-color: #074509;
    color: white;
  }
  
  .actions .submit:hover,
  .actions .submit:active {
    background-color: #139017;
  }
  
  .invalid label {
    color: #3eca4a;
  }
  
  .invalid input {
    border-color: #35aa0b;
    background-color: #ffeff1;
  }