.container {
    width: 316px;
    margin-left: 14px;
    margin-top: -7rem;;
    padding: 15px;
    position: relative;
    background-color: #0e480e;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .title {
    margin-top: -5px;
    margin-bottom: 14px;
    font-weight: bold;
    font-family: system-ui, system-ui,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }

  .add {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 63%;
    margin-bottom: 20px;
  }

  .button {
    margin-left: 10px;
    font-size: 17px;
    padding: 4px 6px;
  }